asgiref==3.9.0
Django==5.2.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
lxml==6.0.0
pillow==11.3.0
PyJWT==2.9.0
python-dotenv==1.1.1
python-pptx==1.0.2
sqlparse==0.5.3
typing_extensions==4.14.1
xlsxwriter==3.2.5
